<html>
    <head>
        <style>

        </style>
    </head>
    <body>
        <p>Oi {{name}},</p>
        <p>Você pediu para redefinir sua senha.</p>
        <p> Por favor, clique no link abaixo para redefinir sua senha</p>
        <a href="{{link}}">Redefinir senha</a>
    </body>
</html>